@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.display-flex{
display: flex;
}
.text-light-gray{
  color: #757575;
}
/* header styles */
.bg-color{
  background: linear-gradient(180deg,rgba(19,19,19,0.747)0%,rgba(30,30,30)50%,rgba(1,1,1,0.719)100%);
}
/* nav styles */
.brand{
 margin-top:30px;
  font-weight: 800;
  font-size: 2.25rem;
  font-style: italic;
  color: rgba(230, 83, 60, 1);
}

.navbar{

  justify-content: space-between;
align-items: center;
text-align: center;
margin-left: 100px;
}
.nav-links{
margin-top: 30px;
  list-style: none;
margin-right: 100px;

}
.nav-item{


}
.nav-link{
margin-right: 30px;
text-decoration: none;
color:white;
font-weight: 400;
}
.nav-diff{
color:white;
font-weight: 600;
font-size: 1.12rem;
border-radius: 15px;
background-color:  rgba(230, 83, 60, 1);
padding:8px 20px
}
/* banner styles */
.banner{
  justify-content: space-between;
  margin-bottom: 110px;
 gap: 30px;
}
.banner-container{
max-width: 520px;
height: 440px;
margin-left: 100px;
margin-top: 50px;

}
.banner-title{
  font-weight: 900;
  font-size: 4.87rem;
 color:white;
}
.text-style{
  font-style: italic;
  font-weight: 400;
  font-family: 'miama';
}
.banner-description{
  color:#757575;
  font-size: 0.87rem;
}
.banner-img img{
 width: 100%;
 height: 100vh;
  margin-right: 100px;
  margin-top: 50px;
}
.btn-primery{
 margin-top: 30px;
  background-color: rgba(230, 83, 60, 1);
  color:white;
  padding: 16px 45px;
  border-radius: 40px;
  font-weight: 600;
}
.btn{
  color: white;
  border: 1px solid white;
  background-color: black;
  padding: 16px 45px;
  border-radius: 40px;
}
.card{
  /* position: relative; */
  /* flex-direction: row-reverse; */
  padding: 10px 20px;
}
.card-1-title{
  
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 40px;
  color:white;
padding: 10px 24px;
}
.card-2-title{
 
  color:white;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 24px;
  padding: 10px 24px;
}

.card-1{
 
  position: absolute;
  background-color: rgba(48, 48, 48, 0.54)
;
top:260px;
border: 1px solid rgba(255, 255, 255, 0.1)
; 
border-radius: 15px;
right: 30px;
/* box-shadow: 20px 20px 20px; */
}
.card-2{
  
  left:750px;
  position: absolute;
   background-color: rgba(48, 48, 48, 0.54);
top:566px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 15px;
}
.card-description{
  padding: 5px 24px 16px;
}
.section-title{
  font-weight: 900;
  font-size: 3rem;
  line-height: 55px;
  color:white;
  text-align: center;
  
}
.section-description{
margin-top: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  font-size: 0.87rem;
}
.section-habit{
max-width: 1044px;
height: 452px;
}
.habit{
width: 600px;
height: 120px;
  
margin: 0 auto;
text-align: center;
align-items: center;

}
.various-img{
  margin-top: 30px;

display: flex;
}
.various-img,img{
 height: 180px;
  width: 180px;
  
  border-radius: 50%;
margin-left: 60px;
 
gap: 30px;
}
.img-container{
  width: 260px;
  height: 270px;
  
}
.img-title{
  font-weight: 600;
  font-size: 1.12rem;
  color:white;
  text-align: center;
}
.img-description{
  font-weight: 400;
  font-size: 0.87rem;
text-align: center;
}
/* run related */
.section-run{
  max-width: 1066px;
  height: 370px;
 border: 1px solid rgba(255, 255, 255, 0.1)
; 
border-radius: 15px;
margin: 0 auto;
margin-bottom: 30px;
}
.run-container{
  margin-top:30px;
  width:400px;
height: 200px;

padding: 20px;

}
.run{
  display: flex;
  justify-content: space-between;
}
.run-img img{
width: 350px;
 height: 312px;
  margin-right: 50px;
  margin-top: 50px;
 
border-radius: 20px;
opacity: 0px;

}
.calculator{
  width: 500px;
  height: 100px;
 margin: 0 auto;
}
/* bmi table */
.bmi{
 max-width:1440px;
 height: 487px;
 

}
.bmi-table{
  margin-top: 100px;
 margin-left:150px;
}

.bmi-title{
  font-weight: 900;
  font-size: 1.75rem;
  color: white;
}
table{
  width: 300px;
  height:200px ;
  margin-top:30px;
}
th{
  text-align:center;

}
table,th,td{
  border: 1px solid #757575;
  border-collapse: collapse;
}
th,td{
  padding: 10px;
}
.table-title{
  color:white;
}
.calculate-bmi{
 margin-top:100px;
}
.calculator{
  width: 670px;
  height: 120px;
  margin-bottom: 40px;
}
.bmi-container{
  max-width: 1440px;
  height: 500px;
  display: flex;
  gap:175px;
 background-color: rgba(34, 34, 34, 1);
 
}
form{
  margin-top:20px;

}
.blank-box{
  padding: 13px 30px ;
  background-color: rgba(255, 255, 255, 0.1);

  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}
.acttivity{
  padding: 13px 30px;
  background-color: rgba(255, 255, 255, 0.1);
width:577px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}

/* team */
.team{
  max-width: 1070px;
  height: 780px;
}
.team-container{
width: 670px;
height: 120px;
 margin-top: 200px;
margin-left: 350px;
}